<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>PokesApp</title>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link rel = 'stylesheet' type = 'text/css' href = '{% static 'loginreg/css/style.css' %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = '{% static "loginreg/javascript/script.js"%}' ></script>
  </head>
  <body>
    <div class = 'navbar'>
        <a class = 'button button1 inactive' id="link-home" href="#home">Home</a>
        <a class = 'button button2 inactive' id="link-about" href="#about">About</a>
        <a class = 'button button3 inactive' id="link-contact" href="#contact">Contact</a>
        <a class = 'button button4 inactive' id="link-signin" href="#signin">Sign In</a>
    </div>
    <div id = 'container'>
      <div id = 'index' class = 'content'>
        <h1 id = 'welcome'>Welcome!</h1>
        <a class = 'myButton' href = '#signin'>Ready to Register?</a>
      </div>
      <div id = 'about' class = 'panel'>
        <div class = 'content'>
          <h1>About</h1>
          <p>
            newApp is an app that is new and ready for use!
          </p>
        </div>
      </div>
      <div id = 'contact' class = 'panel2'>
        <div class = 'content'>
          <h1>Contact</h1>
          <p>Moshiur Rahman</p>
          <p>rahman.moshiur@gmail.com</p>
          <br>
          <p>Melissa Hong </p>
          <p>melissahong1@gmail.com</p>
        </div>
      </div>
      <div id = 'signin' class = 'panel3'>
        <div class = 'content'>
          <h1>Sign In</h1>
          <div class = 'error'>
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
          </div>
          <div id = 'register'>
            <form action = '/register' method = 'post'>
              {% csrf_token %}
              <h2>New Here?</h2>
              <label>Name:</label><input type = 'text' name = 'name'>
              <br><label>Alias:</label><input type = 'text' name = 'alias'>
              <br><label>Email:</label><input type = 'text' name = 'email'>
              <br><label>Password:</label><input type = 'password' name = 'password'>
              <br><label>Confirm Password:</label><input type = 'password' name = 'confirm_password'>
              <br><label>Date of Birth:</label><input type = 'date' name = 'birthdate'>
              <br><button type = 'submit' class="myButton" value = 'Register'>Register</button>
            </form>
          </div>
          <div id = 'login'>
          <form action = '/login' method = 'post'>
            <h2>Login</h2>
            {% csrf_token %}
            <label>Email:</label><input type = 'text' name = 'email'>
            <br><label>Password:</label><input type = 'password' name = 'password'>
            <br><button type = 'submit' class="myButton" value = 'Login'>Sign In</button>
          </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
